<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
   ">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect 
       </prop>
				<prop key="hibernate.show_sql">false </prop>
				<prop key="hibernate.connection.autocommit">true </prop>
			</props>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory">
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory">
		</property>
	</bean>
	

    <bean id="addressDAO" class="org.likelist.dao.impl.AddressDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="adminDAO" class="org.likelist.dao.impl.AdminDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="albumDAO" class="org.likelist.dao.impl.AlbumDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="bizDAO" class="org.likelist.dao.impl.BizDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="commentDAO" class="org.likelist.dao.impl.CommentDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="friendDAO" class="org.likelist.dao.impl.FriendDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="shopBizDAO" class="org.likelist.dao.impl.ShopBizDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="shopDAO" class="org.likelist.dao.impl.ShopDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
	<bean id="shopUserDAO" class="org.likelist.dao.impl.ShopUserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory">
		</property>
	</bean>
    <bean id="smsDAO" class="org.likelist.dao.impl.SmsDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="tradeDAO" class="org.likelist.dao.impl.TradeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>
    <bean id="userDAO" class="org.likelist.dao.impl.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>


	<!--
		<tx:annotation-driven transaction-manager="transactionManager" />
	-->

</beans>